@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
body {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, red,yellow);
}

h1 {
    font-size: 400%;
    color: rgba(0,0,0,.8);    
    text-transform: uppercase;
    letter-spacing: .5em;
    margin-top: 15%;
}

h2 {
    text-transform: uppercase;
    letter-spacing: .5em;
}

body:last-child {
    text-transform: lowercase;
    letter-spacing: .25em;

}
